* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Tilt Warp', cursive;
}

.root {
    font-size: calp(1.6rem + 0.5vw, 1.6rem, 2.4rem);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    background-color: #004643;
}

main{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

header {
    width: 100%;
    height: 10rem;
    background-color: #004643;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    font-size: 1.5rem;

}

.logo img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

footer div p,
a {
    font-size: 1.5rem;
}

footer {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

footer p {
    font-size: 1.5rem;
    color: #fff3ec;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}


button a {
    color: #001e1d;
}

button:hover {
    background-color: #fffffe;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff3ec;
    font-family: 'Indie Flower', cursive;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.i {
    width: 2rem;
    height: 2rem;
}

.i:hover {
    color: #f9bc60;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

img {
    width: 100%;
    height: 100%;
}

p{
    font-size: 1.5rem;
    color: #fff3ec;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5rem;
    color: #fff3ec;
    text-align: center;
    margin: 0;
    padding: 0;
}

section div ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section div ul li a i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

@media screen and (min-width: 768px) {

    body{
        height: 100vh;
    }

    main{
        height: 100%;
    }

    header{
        font-size: 3rem;
    }

    .logo img {
        width: 4rem;
        height: 4rem;
    }

    footer div p, a{
        font-size: 3rem;
    }

    .i{
        width: 4rem;
        height: 4rem;
    }

    p{
        font-size: 2.5rem;
    }

}

@media screen and (min-width: 1024px) {

    body{
        height: 80vh;
        width: 70vw;
        margin: 0 auto;
    }

    main{
        height: unset;
    }
}