* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.root {
    font-size: calp(1.6rem + 0.5vw, 1.6rem, 2.4rem);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    background-color: #004643;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    width: 100%;
    height: 10rem;
    background-color: #004643;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    font-size: 1.5rem;
    font-weight: 200;
}

.logo img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

footer div p,
a {
    font-size: 1.5rem;
}

footer {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    font-weight: 200;
}

footer p {
    font-size: 1.5rem;
    color: #fff3ec;
    text-align: center;
    margin: 0;
    padding: 0;
}


button a {
    color: #001e1d;
}

button:hover {
    background-color: #fffffe;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff3ec;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.i {
    width: 2rem;
    height: 2rem;
}

.i:hover {
    color: #f9bc60;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffffe;
    padding: 0 2rem;
    box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(00.625rem);
    font-size: 1.5rem;
}

form p {
    font-size: 1.5rem;
    text-align: center;
}

.socials i {
    color: #fff3ec;
    font-size: 5rem;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}

textarea {
    height: 10rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.send {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #fffffe;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #001e1d;
    font-family: 'Indie Flower', cursive;
}

.send:hover {
    background-color: #f9bc60;
    color: #fffffe;
}

@media screen and (min-width: 768px) {

    header {
        font-size: 3rem;
    }

    .logo img {
        width: 4rem;
        height: 4rem;
    }

    footer div p,
    a {
        font-size: 3rem;
    }

    form {
        font-size: 3rem;
    }

    form p {
        font-size: 3rem;
    }

    .socials i {
        font-size: 10rem;
    }

}

@media screen and (min-width: 1024px) {

    body {
        width: 100vw;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1279px) {

    body {
        width: 100vw;
        margin: 0 auto;
    }
}
    

@media screen and (min-width: 1440px) {

    body{
        width: 50vw;
        margin: 0 auto;
    }

    main{
        height: 80vh;
    }
}