/* Set box-sizing to border-box and font-family to "Oswald", sans-serif */
* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* Set font-size of root element to a combination of 1.6rem + 0.5vw, 1.6rem, 2.4rem */
.root {
  font-size: calc(1.6rem + 0.5vw, 1.6rem, 2.4rem);
}

/* Set font-size of html element to 62.5% */
html {
  font-size: 62.5%;
}

/* Set width and height of header element to 100% and 10rem respectively, set background-color to #004643, display flex, justify-content to space-between, align-items to center, padding to 0 3rem, font-size to 1.5rem and font-weight to 200 */
header {
  width: 100%;
  height: 10rem;
  background-color: #004643;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-size: 1.5rem;
  font-weight: 200;
}

/* Set width and height of logo img element to 2rem and 2rem respectively and set border-radius to 50% */
.logo img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* Set font-size of body element to 2rem and line-height to 1.5, set background-color to #004643 */
body {
  font-size: 2rem;
  line-height: 1.5;
  background-color: #004643;
}

/* Set display of main element to grid, set grid-template-columns to repeat 8 times with 1fr each and set grid-template-rows to repeat 10 times with 1fr each */
main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

/* Set font-size of footer div p and a elements to 1.5rem */
footer div p,
a {
  font-size: 1.5rem;
}

/* Set width and height of footer element to 100% and 10rem respectively, set display to flex, justify-content to space-between, align-items to center, padding to 0 3rem and font-weight to 200 */
footer {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-weight: 200;
}

/* Set font-size of footer p element to 1.5rem, color to #fff3ec, text-align to center, margin and padding to 0 */
footer p {
  font-size: 1.5rem;
  color: #fff3ec;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Set color of button a element to #001e1d */
button a {
  color: #001e1d;
}

/* Set background-color of button element to #fffffe when hovered */
button:hover {
  background-color: #fffffe;
}

/* Set list-style of li element to none */
li {
  list-style: none;
}

/* Set text-decoration of a element to none and color to #fff3ec */
a {
  text-decoration: none;
  color: #fff3ec;
}

/* Set padding and margin of ul element to 0, set display to flex, justify-content to space-between and width to 100% */
ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

/* Set width and height of i element to 2rem */
.i {
  width: 2rem;
  height: 2rem;
}

/* Set color of i element to #f9bc60 when hovered */
.i:hover {
  color: #f9bc60;
}

/* Set position of back-to-top element to fixed, bottom to 50px, z-index to 99, font-size to 16px, border to none, outline to none, color to #fff, cursor to pointer, padding to 10px 15px, border-radius to 4px, left to 50%, transform to translateX(-50%) */
.back-to-top {
  position: fixed;
  bottom: 50px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}

/* Set background-color of back-to-top element to #f9bc60 when hovered */
.back-to-top:hover {
  background-color: #f9bc60;
}

/* Set up the main grid */
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20rem, 30rem, 40rem, 50rem, 20rem, 20rem, 20rem, 30rem,
    50rem, 50rem, 50rem, 20rem, 30rem, 40rem, 50rem, 20rem, 20rem, 20rem, 30rem,
    50rem, 50rem, 50rem;
  gap: 1rem;
}

/* Set up the div grid */
main div {
  display: grid;
}

/* Set up the image properties */
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Set up the grid for each picture */
.pic1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.pic2 {
  grid-column: 7 / 11;
  grid-row: 1 / 2;
}

.pic3 {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.pic4 {
  grid-column: 11 / 13;
  grid-row: 1 / 2;
}

.pic5 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.pic6 {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
}

.pic7 {
  grid-column: 6 / 11;
  grid-row: 2 / 3;
}

.pic8 {
  grid-column: 11 / 13;
  grid-row: 2 / 3;
}

.pic9 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.pic10 {
  grid-column: 5 / 8;
  grid-row: 3 / 4;
}

.pic11 {
  grid-column: 6 / 12;
  grid-row: 3 / 4;
}

.pic12 {
  grid-column: 11 / 13;
  grid-row: 4 / 5;
}

.pic13 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.pic14 {
  grid-column: 3 / 6;
  grid-row: 4 / 5;
}

.pic15 {
  grid-column: 6 / 8;
  grid-row: 4 / 5;
}

.pic16 {
  grid-column: 3 / 11;
  grid-row: 4 / 5;
}

.pic17 {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.pic18 {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

.pic19 {
  grid-column: 11 / 13;
  grid-row: 6 / 7;
}

.pic20 {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
}

.pic21 {
  grid-column: 1 / 3;
  grid-row: 4/ 5;
}

.pic22 {
  grid-column: 1 / 3;
  grid-row: 8 / 9;
}

.pic23 {
  grid-column: 4 / 8;
  grid-row: 18 / 19;
}

.pic24 {
  grid-column: 8 / 11;
  grid-row: 6 / 7;
}

.pic25 {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}

.pic26 {
  grid-column: 3 / 9;
  grid-row: 7 / 10;
}

.pic27 {
  grid-column: 8 / 11;
  grid-row: 3 / 4;
}

.pic28 {
  grid-column: 8 / 11;
  grid-row: 18 / 19;
}

.pic29 {
  grid-column: 11 / 13;
  grid-row: 3 / 4;
}

.pic30 {
  grid-column: 3 / 6;
  grid-row: 18 / 17;
}

.pic31 {
  grid-column: 11 / 13;
  grid-row: 10 / 11;
}

.pic32 {
  grid-column: 9 / 13;
  grid-row: 9 / 10;
}

.pic33 {
  grid-column: 1 / 3;
  grid-row: 9 / 10;
}

.pic34 {
  grid-column: 9 / 13;
  grid-row: 7 / 7;
}

.pic35 {
  grid-column: 5 / 8;
  grid-row: 6 / 7;
}

.pic37 {
  grid-column: 1 / 3;
  grid-row: 10 / 11;
}

.pic38 {
  grid-column: 8 / 13;
  grid-row: 15 / 16;
}

.pic39 {
  grid-column: 9 / 13;
  grid-row: 8 / 9;
}

.pic40 {
  grid-column: 9 / 11;
  grid-row: 5 / 6;
}

.pic41 {
  grid-column: 1 / 3;
  grid-row: 11 / 12;
}

.pic43 {
  grid-column: 11 / 13;
  grid-row: 5 / 6;
}

.pic44 {
  grid-column: 3 / 11;
  grid-row: 10 / 12;
}

.pic45 {
  grid-column: 1 / 3;
  grid-row: 12 / 13;
}

.pic46 {
  grid-column: 1 / 5;
  grid-row: 12 / 13;
}

.pic47 {
  grid-column: 11 / 13;
  grid-row: 11 / 13;
}

.pic48 {
  grid-column: 11 / 13;
  grid-row: 13 / 14;
}

.pic49 {
  grid-column: 9 / 13;
  grid-row: 16 / 17;
}

.pic50 {
  grid-column: 1 / 6;
  grid-row: 13 / 14;
}

.pic51 {
  grid-column: 11 / 13;
  grid-row: 14 / 15;
}

.pic52 {
  grid-column: 5 / 11;
  grid-row: 12 / 13;
}

.pic53 {
  grid-column: 1 / 3;
  grid-row: 14 / 15;
}

.pic54 {
  grid-column: 3 / 9;
  grid-row: 14 / 15;
}

.pic55 {
  grid-column: 9 / 13;
  grid-row: 14 / 15;
}

.pic57 {
  grid-column: 1 / 4;
  grid-row: 18 / 19;
}

.pic56 {
  grid-column: 1 / 4;
  grid-row: 15 / 16;
}

.pic59 {
  grid-column: 6 / 13;
  grid-row: 17 / 18;
}

.pic60 {
  grid-column: 6 / 11;
  grid-row: 13 / 14;
}

.pic61 {
  grid-column: 1 / 3;
  grid-row: 17 / 18;
}

.pic62 {
  grid-column: 1 / 9;
  grid-row: 16 / 17;
}

.pic63 {
  grid-column: 4 / 9;
  grid-row: 5 / 6;
}

.pic64 {
  grid-column: 11 / 13;
  grid-row: 18 / 19;
}

.pic65 {
  grid-column: 11 / 13;
  grid-row: 4 / 5;
}

.pic66 {
  grid-column: 4 / 8;
  grid-row: 15 / 16;
}

@media screen and (min-width: 768px) {
  header {
    font-size: 3rem;
  }

  .logo img {
    width: 4rem;
    height: 4rem;
  }

  footer div p,
  a {
    font-size: 3rem;
  }

  .back-to-top {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 100vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1279px) {
  body {
    width: 100vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  body {
    width: 90vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1921px) {
  body {
    width: 50vw;
    margin: 0 auto;
  }
}